:root {
    --light: #E7ECEF;
    --dark: #272932;
    }
    @keyframes example {
        from {background-color: rgb(13, 31, 103);}
        to {background-color: rgb(197, 197, 178);}
      }
      

    .card-container{
        width: 95%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        
    }
    .heading{
        text-align: center; 
        background-color: #04145e; 
        color:#e6f519;
        font-size: 3rem;
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count:infinite;
    }
    
    
    .title {
        font-size: 3rem;
        color: var(--teal);
    }
    .card__img {
        width: 100%;
        border-radius: 2rem;
    }
    
    .card__title--light {
        color: var(--dark);
        margin:1.5rem;
           }
    
    .card__title--dark {
        color: var(--light);
        margin:1.5rem;
    }
    
    .card__description--light {
        color: var(--dark);
    }
    
    .card__description--dark {
        color: var(--light);
    }
    .card__cookies--light{
        color: rgba(8, 190, 129, 0.864);
    }
    .card__cookies--dark{
        color: rgb(238, 21, 137);
    }
    
    .card--light {
        background-color: var(--light);
        box-shadow: 0 0.25rem 0.25rem 0 var(--dark);
        text-align: center;
        background-color: #f3ebeb;
        padding: 0 20px;
        margin:auto;
    }
    
    .card--dark {
        background-color: var(--dark);
        box-shadow: 0 0.25rem 0.25rem 0 var(--dark);
        text-align: center;
        padding: 0 20px;
        margin:auto;
    
    }
    img {
        width: 200px;
        height: 300px;
        object-fit: cover;
      }
/* Happy coding! */